body, html , p{
  padding: 0px;
  margin: 0px;
  border: 0px none;
  width: 100%;
}
body {
background-color:#FFF;
}

h2{
font-size:30px;
font-family:fantasy;
font-weight: normal;
}

#header {
border-bottom: 1px solid #333;
padding-bottom:5px;
}
#page {
	background: #f0f0f0 url(http://www2.macs.hw.ac.uk/~ms373/prototype/front_end/assets/images/texture.gif) repeat -70% 0;
}
#page-inner{
	background: url(http://www2.macs.hw.ac.uk/~ms373/prototype/front_end/assets/images/gradient.png) repeat-x -70% 0;
	
}

#wrapper {
	width: 980px;
	margin-left: auto;
	margin-right:auto;
	margin-top:0px;
	border-top: 3px solid #333;
	top:0;
	background-color:#f8f8f8;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	
}

#top-bar {
	
	background:#f8f8f8;
	width:100%;
	float:left;
	margin:0 0 24px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

#page-title {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	font-size:30px;
	padding:15px 0px 15px 40px;
	width:980px;
}

#footer {
	font-size:10px;
	text-align:left;
	border-top:1px solid #ccc;
	padding-top:10px;
	padding-bottom:20px;
	margin: 0px auto;
	clear:both;
}

#footer-content {
	padding-bottom:20px;
}
.footer-item {
	padding: 0px 5px;
	float:left;
}
.right-edge { border-right:1px solid #ccc; }
.no-edge { border-right:0px; float:left; }

#home {
}

.left-column {
	float: left;
	width: 300px;
	border-right:1px solid #ccc;
	padding-top:20px;
	margin-right:10px;
}

.content-body {
	float:left; 
	padding-top:20px;
	word-wrap:normal;
	width:660px;
}

#flight-search {
	margin-left:10px;
	margin-right:10px;
}

.search-heading {
	font-weight:bold;
	background-color:#E6E6E6;
	padding:5px 5px;
}

#search-table {
	padding:5px;
}

#displayFlights {
	border-spacing: 0px;
	border-collapse: collapse;
	background-color:#E0E0E0;
	width:620px;
}

#displayFlights tr:hover { background-color: #B0B0B0; }

#displayFlights .row-title
{
font-weight: normal;
background: #B0B0B0;
}



#outbound {
}

#outbound .flights {
}

#outbound .flights.title {
	font-weight: bold;
}

#flightData
{
	border-spacing: 0px;
	border-collapse: collapse;
	text-align:right;
	background-color:#D8D8D8   ;
}

.page-title {
	font-weight:bold;
	font-size:35;
}

div.results-box {
	float:left;
	border:1px solid #ccc;
	border-spacing:3px;
}